$color1: #e1b646;
$color2: #925a06;
$color3: #959595;
$color4: #e25123;
$color5: #ff9801;
$color6: #8b8b8b;
$color7: #dfdfdf;
$color8: #c5c5c5;
$color9: #8b8b8b;
$color10: #fe9903;
$color11: #e0b445;
